body {
  /*background-color: red;*/
  text-align: center;
}

body, table {

  font-size: 20px;
}

input, select, option, button {
  font-size: 17px;
}

canvas {
  border: 1px solid #555;
  margin: 30px;
}

#inputSettings {
  text-align: left;
  margin: 0 auto;
  width: 450px;
}

input {
  width: 100px;
}

#graphSettings td, #inputSettings td {
  padding-right: 30px;
}
